<h1>School Classes Form</h1>

<%= form_for @school_classes do |f| %>
<%= f.label 'Title' %><br>
<%= f.text_field_tag :title %><br>
<%= f.label 'Room Number' %><br>
<%= f.text_field_tag :room_number %><br>
<% end %>
